{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1>Completed projects to be rated</h1>
    <div>
        {% for project in projects %}
        <p>{{project.title}}</p>
        <p><a href="{{project.link}}">{{project.link}}</a></p>
        <img src="{{project.image.url}}" alt="{{project.description}}">
        <p>{{project.description}}</p>
        <button><a href="{% url 'viewproject' project.id %}">View Project</a></button>
        {% endfor %}
    </div>
</div>


{% endblock%} 